body{
    font-family: sans-serif;
    background-color: #e1e4ee;
}

/* bank name  */
.content1 .bank_name{
    display: flex;
    align-items: center;

}

/* full division is mension by .container1 */
.container1{
    height: 750px;
    width: 100%;
}
.container1 .content1{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around; 
    height: 500px;
    width: 100%;
    align-items: center;
}

/* the tick image style */
#tick{
    width: 200px;
    animation-name: tick;
    animation-duration:3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

/* tick image animation */
@keyframes tick{
    0%{transform: scale(1,1);}
    50%{transform: scale(1.5,1.5);}
}

#name_nb{
    width: 30px; 
    margin: 0px 20px;
    border-radius: 5px;
}

h2 {
    font-size: 40px;
}

p{
    font-size: 25px;
}

/* back button alignment style code */
.back{
    margin: 0px auto 30px auto;
    margin: 50px auto;
}