/* full page is mensioned by * */

* {
    margin: 0px;
    padding: 0px;
}

/* All page imput box and select box style */
input,
select {
    border-radius: 20px;
    border: 0.8px solid black;
    box-shadow: 1px 1px 3px black;
}


/* All page input type radio only style */
input[type="radio"] {
    transform: scale(1.2 1.2);
    box-shadow: none;
}

/* All page header style */
.header {
    background-color: #e1e4ee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 5;
    font-family: cursive;
    font-size: 20px;
    box-shadow: 5px 8px 10px gray;

}

/* All page logo */
.header img {
    height: 60px;
}

/* All page navigation bar in header */
.nav {
    height: 70px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: cursive;
    text-align: center;
    /* border: 2px solid black; */

}

/* All page navigation a tag style */
.nav a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 15px;
    font-family: cursive;
    text-align: center;
    color: black;
    position: relative;
}

/* All page button and button1 class hover  */
.button:hover,
.button1 {
    border-bottom: 3px solid black;
    font-size: 21px;
    box-sizing: border-box;
    transition: .1s;
}

/* All page the second black area style */
.content2 {
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: black;
    color: white;
    /* animation-name: change;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
    font-size: 30px;
    font-family: cursive;
}

/* @keyframes change {
    0% {
        color:grey;
    }

    50% {
        color: white;
    }

    80% {
        color: gray;
    }
} */

/* All page have back button.its our style */
.back {
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid black;
    width: auto;
    padding: 15px;
    border-radius: 20px;
    font-size: 25px;
    background-color: white;
    color: #0a0a0a;
    font-family: cursive;
}

/* All page back button hover */
.back:hover {
    width: auto;
    background-color: #e1e4ee;
    box-shadow: 5px 5px 5px black;
    box-sizing: border-box;
    color: rgb(6, 6, 6);
}

/* All page back button */
.back_to_home {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* whenever have tick video on this style  */
.tick_container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 852px;
    background-color: #0a0a0a;
    font-family: cursive;

}

/* tick style */
.tick {
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 560px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    border-radius: 50px;
    box-shadow: 15px 15px 7px #54c85a;
    color: green;
    font-size: 20px;
    text-align: center;
}

/* All page tick video edit */
.tick_video video {
    width: 350px;
    pointer-events: none;
}

/* All page have a footer on this footer style */
footer {
    height: 530px;
    background-color: black;
    color: white;
    margin-top: -23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
    font-family: sans-serif;
}

/* about us */
footer .footer_content1 {
    width: 1000px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: 10px auto;
    text-align: center;
}

/* some word about netbliz */
footer .footer_content3 {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


footer .about {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer_about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* footer icon size */
footer #icon {
    width: 30px;
}

footer .about_us {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h2 {
    text-align: center;
}


/* All footer page have a tag on this style */
footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}


All page
footer h3 {
    text-decoration: underline;
}

/* All page logo style */
footer #logo {
    margin: 10px auto;
    width: 300px;

}