* {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #322238;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    box-shadow: 0px 1px 30px #e6e6f0;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 5;
    font-family: cursive;
}

.header img {
    height: 80px;
}

.nav {
    height: 150px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: cursive;
}

.button {
    box-sizing: border-box;
    height: 70px;
    width: 120px;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-weight: 1000;
    font-size: large;
    border-radius: 20px;
    font-family: cursive;
}

.button:hover,
.button1 {
    box-shadow: 5px 5px 10px white;
    background-color: #e4143e;
    border: 2px solid white;
    height: 70px;
    box-sizing: border-box;
    position: relative;
    bottom: 10px; 
    font-family: sans-serif;
}

.content2 {
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    background-color: black;
    color: white;
    animation-name: change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: 30px;
    font-family: cursive;
}

@keyframes change {
    0% {
        color: #fc7012;
    }

    50% {
        color: cyan;
    }

    80% {
        color: rgb(25, 251, 25);
    }
}

.back {
    box-sizing: border-box;
    height: 50px;
    width: 200px;
    text-decoration: none;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

.back:hover {
    background-color: #f08686;
    box-shadow: 10px 5px 10px black;
    height: 50px;
    box-sizing: border-box;
    color: white;
}

footer{
    height: 600px;
    background-color: black;
    color: white;
    margin-top: -23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;

}
footer .footer_content1{
    width: 1000px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: 10px auto;
    text-align: center;
}

footer .footer_content3{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer .about{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer_about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer #icon{
    width: 50px;
}

footer .about_us{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h2{
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

footer h3{
    text-decoration:underline;
}

footer #logo{
    margin: 10px auto;
    width: 300px;

}

.tick_container1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 852px;
    background-color: #0a0a0a;
    font-family: cursive;

}
.tick {
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 700px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    border-radius: 50px;
    box-shadow: 15px 15px 7px #54c85a;
    color: green;
    font-size: 20px;
    text-align: center;
}
.tick_video video{
    width: 350px;
    pointer-events: none;
}
