.container1 {
    height: 1200px;
    background-image: url('../img/back_con.webp');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
}

.container1 img {
    width: 80px;
}

.container1 .account,.fund,.balance,.history,.loan ,.other {

    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(5, 5, 5);
    /* margin: 20px; */
    background-repeat: no-repeat;
}

.container1 .account {
    background-image: url('../img/account.jpg');
    background-size: cover;

}

.container1 .fund {
    background-image: url('../img/fund_front.jpg');
    background-size: cover;
}

.container1 .balance {
    background-image: url('../img/balance.jpg');
    background-size: cover;
}

.container1 .history {
    background-image: url('../img/history.jpg');
}

.container1 .loan {
    background-image: url('../img/loan_main.jpg');
    background-size: cover;
}

.container1 .other {
    background-image: url('../img/other.jpg');
}

.menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.menu:hover {
    /* position: relative;
    bottom: 15px; */
    transform: translateY(-15px);
    transition: 0.8s;
    box-shadow: 5px 5px 10px rgb(252, 251, 251);
}

.container1 a {
    text-decoration: none;
}

.menu h1 {
    text-shadow: 2.5px -1px rgb(244, 8, 193);
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: 900;
    /* color: rgb(228, 148, 10); */
    color: whitesmoke;

}
