
.container1 {
    height: 1200px;
    /* height: 100%; */
    background-color: #e1e4ee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
}

/* container1 have a 6 image on this image size  */
/* container1 have a 6 image on this image size  */
.container1 img {
    width: 80px;
}

.container1 a {
    text-decoration: none;
}

/* its have a division .this is our style */
/* its have a division .this is our style */
.container1 .account,.fund,.balance,.history,.loan ,.other {

    /* height: 380px; */
    height: 380px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px  5px 10px rgb(5, 5, 5);
    box-shadow: 5px  5px 10px rgb(5, 5, 5);
    background-repeat: no-repeat;
}

.container1 .account {
    background-image: url('../img/account.jpg');
    background-size: cover;

}

.container1 .fund {
    background-image: url('../img/fund_front.jpg');
    background-size: cover;
}

.container1 .balance {
    background-image: url('../img/balance.jpg');
    background-size: cover;
}

.container1 .history {
    background-image: url('../img/history.jpg');
    background-size: cover;
}

.container1 .loan {
    background-image: url('../img/loan_main.jpg');
    background-size: cover;
}

.container1 .other {
    background-image: url('../img/other.jpg');
}

.container1 .menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

/* this style have a image hover */
/* this style have a image hover */
 .container1 .menu:hover {
    transform: translateY(-15px);
    transition: 0.6s;
    box-shadow:  -1px -1px 10px rgb(44, 31, 31);
    transition: 0.6s;
    box-shadow:  -1px -1px 10px rgb(44, 31, 31);
}

/* all h1 tag size and style */
/* all h1 tag size and style */
.menu h1 {
    text-shadow: -2px -2px 10px #e1e4ee;
    text-shadow: -2px -2px 10px #e1e4ee;
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: 900;
    color: whitesmoke;

}

/* media responsive is start */

@media only screen and (max-width:480px){
    *{
        overflow-x: hidden;
    }

    .container1 img {
        width: 40px;
    }
    .container1 {
        height: 100%;
        background-color: #e1e4ee;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 40px;
        font-family: cursive;
    }
    
    /* container1 have a 6 image on this image size  */
    /* container1 have a 6 image on this image size  */
    .container1 img {
        width: 40px;
    }
    
    .container1 a {
        text-decoration: none;
    }
    
    /* its have a division .this is our style */
    /* its have a division .this is our style */
    .container1 .account,.fund,.balance,.history,.loan ,.other {

        height: 400px;
        width: 400px;
        border-radius: 20px;
        box-shadow: 5px  5px 10px rgb(5, 5, 5);
        box-shadow: 5px  5px 10px rgb(5, 5, 5);
        background-repeat: no-repeat;
    }
    
    .container1 .account {
        background-image: url('../img/account.jpg');
        background-size: cover;
    
    }
    
    .container1 .fund {
        background-image: url('../img/fund_front.jpg');
        background-size: cover;
    }
    
    .container1 .balance {
        background-image: url('../img/balance.jpg');
        background-size: cover;
    }
    
    .container1 .history {
        background-image: url('../img/history.jpg');
    }
    
    .container1 .loan {
        background-image: url('../img/loan_main.jpg');
        background-size: cover;
    }
    
    .container1 .other {
        background-image: url('../img/other.jpg');
        background-size: cover;
    }
    
    .container1 .menu {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
    }
    
    /* this style have a image hover */
    /* this style have a image hover */
     .container1 .menu:hover {
        transform: translateY(-15px);
        transition: 0.6s;
        box-shadow:  -1px -1px 10px rgb(44, 31, 31);
        transition: 0.6s;
        box-shadow:  -1px -1px 10px rgb(44, 31, 31);
    }
    
    /* all h1 tag size and style */
    /* all h1 tag size and style */
    .menu h1 {
        text-shadow: -2px -2px 10px #e1e4ee;
        text-shadow: -2px -2px 10px #e1e4ee;
        margin-bottom: 5px;
        font-size: 30px;
        font-weight: 900;
        color: whitesmoke;
    
    }
    footer{
        margin-top: 100px;
    }
    
}