* {
    margin: 0px;
    padding: 0px;
}

/* body  */

body {
    background-image: url('../img/background_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

/* header start */

.header img {
    height: 40px;
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;

}

/* .navication start */

.nav {
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navication {
    box-sizing: border-box;
    height: 40px;
    text-decoration: none;
    color: #090805;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px;
}

.navication:hover,
.submit:hover {
    box-sizing: border-box;
    background-color: rgb(71, 71, 206);
    box-shadow: 1px 1px 5px black;
    color: white;
    border: 0px;

}

/* header end */


/* full page name is called by container1  */
.container1 {
    width: 100%;
    height: 771px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: sans-serif;
}

/* 1st content style */
.container1 .content1 {
    height: 650px;
    width: 35%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0.1px 0.1px 10px;
}


/* welcome text */
.container1 .content1 .welcome {
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container1 .welcome p {
    font-size: 20px;
}

/* full form like label and input box decoration */

.container1 .form {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 440px;
    padding-top: 20px;
}

.container1 .form .label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 22px;
}

.container1 .form .input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* input style */
.container1 input {
    padding: 10px;
    border-radius: 20px;
    border: 0.8px solid black;
    box-shadow: 1px 1px 3px;
}

#dob {
    width: 162px;
}

/* submit button decoration */
.submit {
    margin: 20px 200px;
    font-size: 18px;
    color: black;
    margin-top: 15px;
    text-decoration: none;
    background-color: rgb(179, 179, 247);
    padding: 10px 25px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px;
    border: 0px;
}