* {
    margin: 0px;
    padding: 0px;
}

/* body  */

body {
    background-image: url('../img/background_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    overflow: hidden;
}

/* header start */

.header img {
    height: 60px;
    /* border: 1px solid black; */
}

.header {
    height: 80px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    margin: 0px auto;
}

/* .navication start */

/* .navication start */

.nav {
    /* height: 40px;
    width: 300px; */
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.navication {
    box-sizing: border-box;
    height: 40px;
    text-decoration: none;
    color: #090805;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px;
}

.navication:hover,
.submit:hover {
    box-sizing: border-box;
    background-color: rgb(71, 71, 206);
    box-shadow: 1px 1px 5px black;
    color: white;
    border: 0px;

}

/* header end */


/* full page name is called by container1  */
/* header end */


/* full page name is called by container1  */
.container1 {
    height: 771px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: sans-serif;
}

/* 1st content style */
/* 1st content style */
.container1 .content1 {
    height: 650px;
    /* width: 35%; */
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0.1px 0.1px 10px;
}


/* welcome text */
.container1 .content1 .welcome {
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container1 .welcome p {
    font-size: 20px;
}

/* full form like label and input box decoration */

.container1 .form {
    display: flex;
    justify-content: space-around;
    /* width: 500px;
    height: 440px; */
    padding-top: 20px;
    /* border: 1px solid black; */
}

.container1 .form .label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    /* border: 1px solid black; */
}

.container1 .form .input {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-content: space-between;
    /* border: 1px solid black; */
}


/* input style */
.container1 input {
    padding: 10px;
    border-radius: 20px;
    border: 0.8px solid black;
    box-shadow: 1px 1px 0.1px;
}

#dob {
    width: 162px;
}

/* submit button decoration */

.submit {
    margin: 20px 200px;
    font-size: 20px;
}

/* submit button style */
.submit {
    color: black;
    font-size: 18px;
    margin-top: 15px;
    text-decoration: none;
    background-color: rgb(179, 179, 247);
    padding: 10px 25px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px;
    border: 0px;
}
/* @media screen  and (max-width:350px){
    .container1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

} */

@media screen and (max-width:480px) {
   
    .header {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0px;

    }
    .container1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container1 .content1 {
        height: 580px;
        width: 92%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: 0.1px 0.1px 10px;
    }
    .submit {
        margin: 20px 130px;
        font-size: 20px;
    }

    .header img {
        height: 41px;
    }

    .nav {
        height: 100%;
        width: 51%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid black; */
    }
h1{
    font-size: 20px;
}

}