* {
    margin: 0px;
    padding: 0px;
}

.header img {
    height: 50px;
}

.header {
    background-color: rgb(246, 244, 244);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 1px 30px rgb(243, 237, 238);
    position: sticky;
    top: 0px;
    width: 100%;
}

.nav {
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navication , .submit {
    box-sizing: border-box;
    height: 40px;
    text-decoration: none;
    border: 1px solid black;
    color: #090805;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.navication:hover , .submit:hover {
    background-color: #fecf00;
    box-shadow: 1px 5px 10px rgb(13, 13, 14);
    height: 40px;
    box-sizing: border-box;
    position: relative;
    bottom: 10px; 
}

.container1 {
    width: 100%;
    height: 771px;
    background-image: url('../img/sign_up_background.webp');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 252, 251);
}

.container1 .content1 {
    width: 35%;
    background-image: url('../img/sign_up_background.webp');
    background-size: cover;
    box-shadow: 5px 5px 10px rgb(251, 250, 255);
    height: 650px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.container1 .content1 .welcome {
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container1 .welcome p{
    font-size: 20px;
}
.container1 .form {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 440px;
    padding-top: 20px;
}

.container1 .form .label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(251, 249, 249);
    font-size: 22px;
}
 
 .container1 .form .input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.container1 input{
    padding: 10px;
    border-radius: 20px;
    border: 0px;
}

#dob {
    width: 162px;
}

.submit{
     margin: 20px 200px ; 
     font-size: 20px;
}
