body{
    background: linear-gradient(to bottom right,#C5D8D1,#EADCD7);
    /* background-color: rgba(249, 6, 249, 0.1); */
    font-family: cursive;
}
.container1{
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* align-content: space-around; */
}
.container1 .personal , .home_loan , .gold {

    height: 408px;
    width: 612px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px black ;
    /* margin: 20px; */
}

.container1 .personal{
    background-image: url('../img/personal_loan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* color: #b23f3f; */
    color: rgb(60, 185, 60);
    text-shadow: 2px -2px rgb(18, 18, 18);
}

.container1 .home_loan{
    background-image: url('../img/home_loan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

.container1 .gold{
    background-image: url('../img/gold_loan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: -2px 3px black;
    
    
}

.container1 a{
    text-decoration: none;
}
.container1 h1{
    height: 408px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: 2px solid black; */
    font-size: 50px;  
}
