.container1{
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    /* align-content: space-around; */
}
.container1 .personal , .home_loan , .gold {

    height: 408px;
    width: 612px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px black;
    /* margin: 20px; */
}

.container1 .personal{
    background-image: url('../img/personal_loan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container1 .home_loan{
    background-image: url('../img/home_loan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container1 .gold{
    background-image: url('../img/gold_loan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}