.container1{
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    /* align-content: space-around; */
}
.container1 .personal , .home_loan , .education {

    height: 500px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px black;
    /* margin: 20px; */
}

