 body {
     background-image: url('../img/background_1.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-blend-mode:multiply;
 }

 /* pepole image */
 img {
     width: 120px;
 }

 .container1 {
     height: 835px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;

 }


 .container1 .content1 {

     width: 30%;
     height: 700px;
     border-radius: 20px;
     box-shadow: 10px 10px 50px rgb(241, 216, 209);
     display: flex;
     justify-content: center;
     align-items: center;
 }


 /* its have  a full form .content */
 .container1 .form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: white;
     height: 600px;
     width: 25%;
     box-shadow: 0.1px 0.1px 10px;
     border-radius: 20px;
 }

 .container1 form {
     height: 500px;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .container1 input {
     padding: 10px;
     border-radius: 20px;
     border: 0.1px solid black;
    width: 60%;
    box-shadow: 1px 1px 2px;
   
 }

 /* input decorations */
.input{
    display: flex;
}

input[type="checkbox"]{
    transform: scale(2 2);
    box-shadow: none;
}

form label:nth-of-type(3) input{
    margin-top: 30px;
    width: 20px;
}

/* butoon style */
 .input .button {
     text-decoration: none;
     padding: 10px 15px;
     border-radius: 10px;
     font-size: 16px;
     color: black;
     margin: 30px 20px 0px 20px;
     background-color: rgb(192, 192, 242);
     border: 0px ;
     box-shadow: 1px 1px 5px black;

 }

 .button:hover {
     background-color:rgb(71, 71, 206);
     box-sizing: border-box;
     color: white;
 
 }


 /* back button style */
 #back_sign {
     color: black;
     font-size: 18px;
     margin-top: 15px;
     text-decoration: none;
     background-color: #cfedee;
     padding:10px 25px;
     border-radius:20px ;
 }
 #back_sign:hover{
    background-color:#b2d6d6;
    box-shadow: 1px 1px 5px black;
 }

 /* media start */

 @media screen  and (max-width: 600px) {

    .container1 .form{
        width: 80%;
    } 
 }