.container1 {
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container1 .mobile , .bill , .scanner {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px black;
    opacity: 0.6;
}

.mobile{
    background-image: url('../img/');
    background-size: cover;
    background-repeat: no-repeat;
}

.bill{
    background-image: url('../img/bill_pays.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.mobile{
    background-image: url('../img/');
    background-size: cover;
    background-repeat: no-repeat;
}