.container1 {
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container1 .mobile , .bill , .scanner {
    height: 344px;
    width: 612px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px black;
    
}

.mobile{
    background-image: url('../img/');
    background-size: cover;
    background-repeat: no-repeat;
}

.bill{
    background-image: url('../img/bill_pays.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: .7; */
}

.mobile{
    background-image: url('../img/');
    background-size: cover;
    background-repeat: no-repeat;
}