body{
    background: linear-gradient(to bottom right,#C5D8D1,#EADCD7);
}
.container1 {
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* border-bottom: 1px solid white; */
    border-top: 1px solid white;
}

.container1 .mobile , .bill , .scanner {
    height: 344px;
    width: 612px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(248, 136, 136);
    color: rgb(237, 11, 196);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    opacity: .8;
}

.mobile{
    background-image: url('../img/mobile_recharge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bill{
    background-image: url('../img/bill_pays.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.scanner{
    background-image: url('../img/qr scanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
