body{
    font-size: 20px;
    font-family: cursive;
    background: linear-gradient(to bottom right ,#EADCD7 , #C5D8D1);
}
.content2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 30px;
}

.full_container{
    height: 1000px;
}

.container1{
    border: 1px solid rgb(237, 18, 18);
    width: 60%;
    height: 800px;
    margin: 50px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    border-radius: 50px;
}
.container1 .full_form {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    /* height: 600px; */
    margin: 20px auto 0px auto;
}

.full_form .selecter,
.value {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input{
    padding: 8px;
    height: 25px;
    border: 1px solid black;
}

.salary{
    width: 110%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.end_button{
    display: flex;
    justify-content: space-around;
}

.end_button button{
    font-family: cursive;
}


